/* Write your CSS here */

.card-list-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  height: 50px;
  width: 300px;
  background-color: #382f5a;
  color: #c4c4c4;
  font-size: 25px;
  font-weight: bolder;
  border: 1px solid #c4c4c4;
  padding: 5px;
  border-radius: 5px;
}
